{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-requirements') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
{% if md.has_complex_requirements %}
<div class="alert alert-warning mt-1" role="alert">
  This firmware has complex requirements and care should be taken
  when entering requirement values manually.
</div>
{% else %}
<div class="alert alert-warning mt-1" role="alert">
  Care should be taken when entering requirement values manually.
</div>
{% endif %}

<h5 class="mt-3">AppStream IDs</h5>
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-sm-4">Value</th>
    <th class="col col-sm-2">Compare</th>
    <th class="col col-sm-2">Version</th>
    <th class="col col-sm-2">Hardness</th>
    <th class="col col-sm-2">&nbsp</th>
  </tr>
{% for rq in md.requirements %}
{% if rq.kind == 'id' %}
  <tr class="row">
    <td class="col col-sm-4">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.compare}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.version}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.hardness if rq.hardness else "requires"}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-4">
        <input type="hidden" name="kind" value="id">
        <input type="text" class="form-control fixed-width" name="value" placeholder="org.freedesktop.fwupd"/>
      </td>
      <td class="col col-sm-2">
        <select class="form-control" name="compare">
          <option value="eq" selected>Exactly</option>
          <option value="ne">Not equal</option>
          <option value="ge">Greater than or equal</option>
          <option value="gt">Greater than</option>
          <option value="le">Less than or equal</option>
          <option value="lt">Less than</option>
          <option value="">Exists</option>
          <option value="glob">Glob</option>
          <option value="regex">Regular Expression</option>
        </select>
      </td>
      <td class="col col-sm-2">
        <input type="text" class="form-control" name="version" placeholder="1.2.3"/>
      </td>
      <td class="col col-sm-2">
        <select class="form-control" name="hardness">
          <option value="" selected>Requires</option>
          <option value="recommends">Recommends</option>
          <option value="suggests">Suggests</option>
        </select>
      </td>
      <td class="col col-sm-2">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>

<h5 class="mt-3">Firmware</h5>
<p class="text-muted">
  Use <code>self</code> as the value for old versions of the same component, or a GUID from the
  other firmware as appropriate.
</p>
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-sm-2">Value</th>
    <th class="col col-sm-2">Depth</th>
    <th class="col col-sm-2">Compare</th>
    <th class="col col-sm-2">Version</th>
    <th class="col col-sm-2">Hardness</th>
    <th class="col col-sm-2">&nbsp</th>
  </tr>
{% for rq in md.requirements %}
{% if rq.kind == 'firmware' %}
  <tr class="row">
    <td class="col col-sm-2">
      <code>{{rq.value if rq.value else 'self'}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.depth if rq.depth else '-'}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.compare if rq.compare else '-'}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.version if rq.compare else '-'}}</code>
    </td>
    <td class="col col-sm-2">
      <code>{{rq.hardness if rq.hardness else 'required'}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-2">
        <input type="hidden" name="kind" value="firmware">
        <input type="text" class="form-control fixed-width" name="value" placeholder="self"/>
      </td>
      <td class="col col-sm-2">
        <input type="text" class="form-control" name="depth" placeholder="0"/>
      </td>
      <td class="col col-sm-2">
        <select class="form-control" name="compare">
          <option value="">None</option>
          <option value="eq" selected>Exactly</option>
          <option value="ne">Not equal</option>
          <option value="ge">Greater than or equal</option>
          <option value="gt">Greater than</option>
          <option value="le">Less than or equal</option>
          <option value="lt">Less than</option>
          <option value="">Exists</option>
          <option value="glob">Glob</option>
          <option value="regex">Regular Expression</option>
        </select>
      </td>
      <td class="col col-sm-2">
        <input type="text" class="form-control" name="version" placeholder="1.2.3"/>
      </td>
      <td class="col col-sm-2">
        <select class="form-control" name="hardness">
          <option value="" selected>Requires</option>
          <option value="recommends">Recommends</option>
          <option value="suggests">Suggests</option>
        </select>
      </td>
      <td class="col col-sm-2">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>

<h5 class="mt-3">Computer Hardware IDs</h5>
<table class="table">
{% for rq in md.requirements %}
{% if rq.kind == 'hardware' %}
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
        <input type="hidden" name="kind" value="hardware">
        <input type="hidden" name="hardness" value=""/>
        <input type="text" class="form-control fixed-width" name="value" placeholder="b0f340b1-361e-55f9-b691-bc46d0921ea8"/>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>

<h5 class="mt-3">Client Features</h5>
<table class="table">
{% for rq in md.requirements %}
{% if rq.kind == 'client' %}
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input type="hidden" name="hardness" value=""/>
      <td class="col col-sm-10">
        <input type="hidden" name="kind" value="client">
        <input type="text" class="form-control fixed-width" name="value" placeholder="detach-action|update-action" required />
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>

{% if not md.has_complex_requirements %}
<a class="btn btn-info" href="{{url_for('components.route_show', component_id=md.component_id, page='requires')}}">Show simple view</a>
{% endif %}
  </div>
</div>

{% endblock %}
