{% extends "default.html" %}
{% block title %}Device Checksums{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-checksums') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Checksums</h2>
<p class="card-text">Multiple device verification checksums can be added here.</p>
<table class="table card-text">
{% if md.device_checksums|length > 0 %}
  <tr class="row">
    <th class="col col-sm-1">Type</th>
    <th class="col col-sm-9">Value</th>
    <th class="col col-sm-2"></th>
  </tr>
{% for csum in md.device_checksums %}
  <tr class="row">
    <td class="col col-sm-1">
      <code>{{csum.kind}}</code>
    </td>
    <td class="col col-sm-9">
      <code>{{csum.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_checksum_delete', component_id=md.component_id, checksum_id=csum.checksum_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
{% endfor %}
{% else %}
  <p class="text-secondary">
    No checksums set.
  </p>
{% endif %}
{% if md.check_acl('@modify-checksums') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_checksum_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
        <input type="text" class="form-control fixed-width" name="value" placeholder="12d9c307380c4410fddfdb613b5dfba8b336cf49"/>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">User-Submitted Reports</h2>

{% if checksum_counts|length %}
<table class="table">
  <tr class="row">
    <th class="col col-sm-1 text-center">Count</th>
    <th class="col col-sm-9">Checksum</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% for (cnt, checksum) in checksum_counts %}
  <tr class="row">
    <td class="col col-sm-1 text-center">
{% if checksum in device_checksums %}
      <span class="badge badge-success">{{cnt}}</span>
{% else %}
      <span class="badge badge-danger">{{cnt}}</span>
{% endif %}
    </td>
    <td class="col col-sm-9">
      <code>{{checksum}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <a class="btn btn-secondary btn-block"
         href="{{url_for('firmware.route_analytics_reports', firmware_id=md.fw.firmware_id, state=2)}}"
         role="button">Show</a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p class="card-text">
  No reports with device checksums.
</p>
{% endif %}
  </div>
</div>

{% endblock %}
