{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-requirements') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Requirements
    </h2>
    <p class="card-text">
      Requirements added here will be added to the <code>metainfo.xml</code> file
      inside the cabinet archive and <strong>also</strong> added to the shared metadata.
    </p>
    <a class="card-link btn btn-info" href="{{url_for('components.route_show', component_id=md.component_id, page='requires-advanced')}}">Show detailed view</a>
  </div>
</div>

<form class="form" action="{{url_for('components.route_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="firmware">
<input type="hidden" name="value" value="">
<input type="hidden" name="hardness" value=""/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Existing firmware version</h2>
    <div class="row card-text">
{% set rq = md.find_req('firmware', None) %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input class="card-link btn btn-primary mt-3" type="submit" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<form class="form" action="{{url_for('components.route_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="firmware"/>
<input type="hidden" name="value" value="bootloader"/>
<input type="hidden" name="hardness" value=""/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Bootloader version</h2>
    <div class="row card-text">
{% set rq = md.find_req('firmware','bootloader') %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input class="card-link btn btn-primary mt-3" type="submit" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<form class="form mt-2" action="{{url_for('components.route_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="id">
<input type="hidden" name="value" value="org.freedesktop.fwupd">
<input type="hidden" name="hardness" value=""/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Client fwupd version</h2>
    <div class="row card-text">
{% set rq = md.find_req('id','org.freedesktop.fwupd') %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input type="submit" class="card-link btn btn-primary mt-3" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Client Features</h2>
    <p class="card-text">
      Add enumerated kinds here to require specific front-end features.
      You should also set a fwupd version requirement of <code>&ge; 1.4.5</code>
      to avoid errors.
    </p>
{% for rq in md.requirements %}
{% if rq.kind == 'client' %}
<table class="table card-text">
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
</table>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
    <form class="form" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input type="hidden" name="hardness" value=""/>
    <div class="card-text mb-3">
      <input type="hidden" name="kind" value="client">
      <input type="text" class="form-control fixed-width" name="value" placeholder="detach-action|update-action" required />
    </div>
    <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
{% endif %}
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Computer Hardware IDs</h2>
    <p class="card-text">
      Add GUIDs here to restrict the update to a specific machine.
    </p>
{% for rq in md.requirements %}
{% if rq.kind == 'hardware' %}
<table class="table card-text">
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('components.route_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-secondary">Remove</button>
      </form>
    </td>
  </tr>
</table>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
    <form class="form" action="{{url_for('components.route_requirement_create', component_id=md.component_id)}}" method="POST" >
    <input type="hidden" name="hardness" value=""/>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <div class="card-text mb-3">
      <input type="hidden" name="kind" value="hardware">
      <input type="text" class="form-control fixed-width" name="value" placeholder="b0f340b1-361e-55f9-b691-bc46d0921ea8" required />
    </div>
    <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
{% endif %}
  </div>
</div>


{% endblock %}
