<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_list' else 'default'}}"
        href="{{url_for('tasks.route_list')}}">Tasks</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'tasks.route_scheduler_list' else 'default'}}"
        href="{{url_for('tasks.route_scheduler_list')}}">Task Schedulers</a>
    </div>
  </div>
</nav>
