{% extends "default.html" %}
{% block title %}Settings{% endblock %}

{% block nav %}{% include 'settings-nav.html' %}{% endblock %}

{% block content %}

<form id="modify" action="{{url_for('settings.route_modify', plugin_id=plugin.id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
<form id="retry" action="{{url_for('tests.route_retry_all', plugin_id=plugin.id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
<form id="waive" action="{{url_for('tests.route_waive_all', plugin_id=plugin.id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
<form id="delete" action="{{url_for('tests.route_delete_all', plugin_id=plugin.id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{plugin.name}}</h2>
    <p class="card-text">{{plugin.summary}}</p>
{% for s in plugin.settings %}
    <div class="form-group">
{% if s.__class__.__name__ == 'PluginSettingBool' %}
      <div class="custom-control custom-switch">
        <input form="modify" class="custom-control-input" type="checkbox" id="{{s.key}}"
          id="{{s.key}}" name="{{s.key}}" value="enabled" {{'checked' if settings[s.key] == 'enabled'}}/>
        <label class="custom-control-label" for="{{s.key}}">
          {{s.name}}
        </label>
      </div>
      <input form="modify" type="hidden" name="{{s.key}}" value="disabled"/>
{% elif s.__class__.__name__ == 'PluginSettingList' %}
      <label for="{{s.key}}">{{s.name}}</label>
      <textarea form="modify" type="text" class="form-control" id="{{s.key}}" name="{{s.key}}" rows="10">{{settings[s.key].replace(',', '\n')}}</textarea>
{% elif s.__class__.__name__ == 'PluginSettingInt' %}
      <label for="{{s.key}}">{{s.name}}</label>
      <input form="modify" type="number" class="form-control" id="{{s.key}}" name="{{s.key}}" value="{{settings[s.key]}}">
{% else %}
      <label for="{{s.key}}">{{s.name}}</label>
      <input form="modify" type="text" class="form-control" id="{{s.key}}" name="{{s.key}}" value="{{settings[s.key]}}">
{% endif %}
    </div>
{% endfor %}
    <input form="modify" type="submit" class="card-link btn btn-primary" value="Save">
    <button form="delete" class="card-link btn btn-danger float-right mx-1">Delete all</button>
    <button form="waive" class="card-link btn btn-warning float-right mx-1">Waive all</button>
    <button form="retry" class="card-link btn btn-warning float-right mx-1">Retry all</button>
  </div>
</div>
{% endblock %}
