{% extends "default.html" %}
{% block title %}uSWID{% endblock %}

{% block content %}

<form id="generate" method="post" action="{{url_for('main.route_uswid')}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">uSWID Generation Helper</h4>
    <p class="card-text">
      Use this form to generate standalone uSWID blobs that can be bundled with assets that do not
      have native SBOM metadata.
    </p>
  </div>
</div>

<div class="row no-gutters mt-3">

  <div class="col-xl-7 pr-xl-3">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Software Details</h4>
        <div class="form-group">
          <label for="tag_id">Tag ID (usually a GUID)</label>
          <input form="generate" type="text" class="form-control" name="tag_id" id="tag_id"
                 placeholder="acbd84ff-9898-4922-8ade-dd4bbe2e40ba" value="{{data.get('tag_id') or ''}}" required></input>
        </div>
        <div class="form-group">
          <label for="tag_version">Tag Version (usually left blank)</label>
          <input form="generate" type="text" class="form-control" name="tag_version" id="tag_version"
                 placeholder="" value="{{data.get('tag_version') or ''}}"></input>
        </div>
        <div class="form-group">
          <label for="software_name">Software Name (e.g. binary name)</label>
          <input form="generate" type="text" class="form-control" name="software_name" id="software_name"
                 placeholder="HughskiColorHug.efi" value="{{data.get('software_name') or ''}}" required></input>
        </div>
        <div class="form-group">
          <label for="software_version">Software Version (usually a semantic version)</label>
          <input form="generate" type="text" class="form-control" name="software_version" id="software_version"
                 placeholder="1.2.3" value="{{data.get('software_version') or ''}}" required></input>
        </div>
        <div class="form-group">
          <label for="product">Product (usually a single word)</label>
          <input form="generate" type="text" class="form-control" name="product" id="product"
                 placeholder="ColorHug" value="{{data.get('product') or ''}}"></input>
        </div>
        <div class="form-group">
          <label for="summary">Summary (usually a single line description)</label>
          <input form="generate" type="text" class="form-control" name="summary" id="summary"
                 placeholder="Open Source Display Colorimeter" value="{{data.get('summary') or ''}}"></input>
        </div>
        <div class="form-group">
          <label for="colloquial_version">Colloquial Version (usually a git tree hash)</label>
          <input form="generate" type="text" class="form-control" name="colloquial_version" id="colloquial_version"
                 placeholder="b2ed6f1ed8587bf01a2951d74512a70f1a512d38" value="{{data.get('colloquial_version') or ''}}"></input>
        </div>
        <div class="form-group">
          <label for="revision">Revision (optional build number, usually left blank)</label>
          <input form="generate" type="text" class="form-control" name="revision" id="revision"
                 placeholder="" value="{{data.get('revision') or ''}}"></input>
        </div>
        <div class="form-group">
          <label for="edition">Edition (usually a combined file git hash)</label>
          <input form="generate" type="text" class="form-control" name="edition" id="edition"
                 placeholder="v2021+" value="{{data.get('edition') or ''}}"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vendor Details</h4>
        <div class="form-group">
          <label for="entity_name">Entity Name (usually a vendor name)</label>
          <input form="generate" type="text" class="form-control" name="entity_name" id="entity_name"
                 placeholder="Hughski Limited" value="{{data.get('entity_name') or ''}}" required></input>
        </div>
        <div class="form-group">
          <label for="entity_regid">Registration ID (usually a domain name)</label>
          <input form="generate" type="text" class="form-control" name="entity_regid" id="entity_regid"
                 placeholder="hughski.com" value="{{data.get('entity_regid') or ''}}" required></input>
        </div>
        <div class="form-check">
          <input form="generate" type="checkbox" class="form-check-input" value="2"
                 name="software_creator" id="software_creator" {{'checked' if 'software_creator' in data}}></input>
          <label class="form-check-label" for="software_creator">
            Software Creator
          </label>
        </div>
        <div class="form-check">
          <input form="generate" type="checkbox" class="form-check-input" value="3"
                 name="aggregator" id="aggregator" {{'checked' if 'aggregator' in data}}></input>
          <label class="form-check-label" for="aggregator">
            Aggregator
          </label>
        </div>
        <div class="form-check">
          <input form="generate" type="checkbox" class="form-check-input" value="4"
                 name="distributor" id="distributor" {{'checked' if 'distributor' in data}}></input>
          <label class="form-check-label" for="distributor">
            Distributor
          </label>
        </div>
        <div class="form-check">
          <input form="generate" type="checkbox" class="form-check-input" value="5"
                 name="licensor" id="licensor" {{'checked' if 'licensor' in data}}></input>
          <label class="form-check-label" for="licensor">
            Licensor
          </label>
        </div>
        <div class="form-check">
          <input form="generate" type="checkbox" class="form-check-input" value="6"
                 name="maintainer" id="maintainer" {{'checked' if 'maintainer' in data}}></input>
          <label class="form-check-label" for="maintainer">
            Maintainer
          </label>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <h4 class="card-title">License Details</h4>
        <div class="form-group">
          <label for="link_href">Link (a https:// link to SPDX, usually left blank)</label>
          <input form="generate" type="text" class="form-control" name="link_href" id="link_href"
                 placeholder="https://spdx.org/licenses/LGPL-2.1-or-later.html" value="{{data.get('link_href') or ''}}"></input>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <h4 class="card-title">File Format</h4>
        <p class="card-text"></p>
          <div class="form-check">
            <input form="generate" class="form-check-input" type="radio" name="format"
                   id="format" value="uswid" {{'checked' if 'uswid' in data}}>
            <label class="form-check-label" for="format_radios1">
              uSWID Header + CoSWID (recommended)
            </label>
          </div>
          <div class="form-check">
            <input form="generate" class="form-check-input" type="radio" name="format"
                   id="format" value="coswid" {{'checked' if 'coswid' in data}}>
            <label class="form-check-label" for="format_radios1">
              Raw CoSWID
            </label>
          </div>
          <div class="form-check">
            <input form="generate" class="form-check-input" type="radio" name="format"
                   id="format" value="ini" {{'checked' if 'ini' in data}}>
            <label class="form-check-label" for="format_radios1">
              Ini Source
            </label>
          </div>
        <button form="generate" class="card-link btn btn-primary mt-3" type="submit">Export</button>
      </div>
    </div>
  </div>

</div>

{% if 'ini' in data %}
    <!-- ini -->
    <div class="card mt-3 alert alert-info" role="alert">
      <pre>{{data['ini']}}</pre>
    </div>
{% endif %}

{% endblock %}
